<section class="bg-grey m-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="pe-lg-3">
					<h1 class="display-3 fw-bold mb-4">Bring Your Ideas to Life with <span class="text-success">Venturia</span></h1>
					<p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat erat quis pulvinar semper.</p>
				</div>
				<div class="d-grid d-sm-flex">
					<a class="btn btn-lg btn-primary me-2 mb-3 mb-sm-0" href="">Get Started</a> <a class="btn btn-lg btn-outline-primary" href="">Learn More</a>
				</div>
			</div>
			<div class="col-lg-6 mb-4 mb-lg-0 ">
               <%= image_tag 'https://images.unsplash.com/photo-1492633423870-43d1cd2775eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg', class: 'img-fluid', style: 'box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;border-radius:50px;', alt: 'Image Description'%>

            </div>
            
		</div>
		<div class="row m-5">
			<div class="col-sm-4 mb-3 mb-sm-0">
				<h2 class="display-5 fw-bold">50k+</h2>
				<p>Happy customers from accross 7 continents</p>
			</div>
			<div class="col-sm-4 mb-3 mb-sm-0">
				<h2 class="display-5 fw-bold">10+</h2>
				<p>Years of experience in Designing </p>
			</div>
			<div class="col-sm-4">
				<h2 class="display-5 fw-bold">20k+</h2>
				<p>Users trust Services</p>
			</div>
		</div>
	</div>
</section>